html,
body {
  height: 100%; }

.margin30 {
  margin: 30px 0; }

.padding20 {
  padding: 0 20px; }

#logo {
  border-bottom: 1px solid #a1a1a1;
  padding: 15px 0;
  margin: 0 0 30px 0; }
  #logo i {
    font-size: 40px;
    line-height: 40px;
    color: #5c8c31; }

h2 {
  font-size: 50px;
  font-weight: normal; }

.block {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.27);
  -o-box-shadow: 0 0 6px rgba(0, 0, 0, 0.27);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.27);
  background: #ffffff;
  padding: 15px;
  margin-bottom: 20px; }

.copyright {
  background: #212121;
  color: #a1a1a1;
  line-height: 40px; }

#page {
  min-height: 100%;
  margin-bottom: -40px;
  padding-bottom: 40px; }

#footer {
  height: 40px;
  position: relative;
  z-index: 10; }

#main {
  padding-bottom: 40px; }

.button i {
  vertical-align: middle;
  margin: 0 5px 0 0; }

.button.button2 {
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.17);
  padding: 5px;
  background: #ffffff;
  color: #212121;
  height: auto; }
  .button.button2.padding20 {
    padding: 5px 20px; }
  .button.button2 i {
    margin: 0; }
  .button.button2:hover {
    -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.27);
    -moz-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.27);
    -o-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.27);
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.27);
    border: 1px solid rgba(0, 0, 0, 0.27); }
  .button.button2:active {
    -webkit-box-shadow: inset 0 2px 0 #d6d6d6;
    -moz-box-shadow: inset 0 2px 0 #d6d6d6;
    -o-box-shadow: inset 0 2px 0 #d6d6d6;
    box-shadow: inset 0 2px 0 #d6d6d6;
    background-color: #e5e5e5;
    border: 1px solid rgba(0, 0, 0, 0.27); }

#nav > .button#menubut {
  position: fixed;
  right: 20px;
  top: 20px;
  padding: 0;
  width: 40px;
  text-align: center;
  z-index: 10; }
  #nav > .button#menubut:before {
    content: "menu";
    line-height: 38px;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased; }
  #nav > .button#menubut.opened:before {
    content: "close"; }
  #nav > .button#menubut.opened + nav {
    right: 0; }

#nav nav {
  width: 200px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: fixed;
  z-index: 5;
  border-left: 1px solid #e1e1e1;
  right: -100%;
  top: 0;
  height: 100%;
  padding: 80px 0;
  background: #ffffff; }
  #nav nav ul li a {
    display: block;
    padding: 10px 20px;
    color: inherit; }
    #nav nav ul li a:hover {
      color: #ffffff;
      background-color: #212121; }
  #nav nav ul li.active a {
    color: #ffffff;
    background-color: #212121; }

section {
  display: none; }
  section.active {
    display: block; }

fieldset {
  display: inline-block;
  width: 100%;
  max-width: 480px; }

#addform .required {
  position: relative; }
  #addform .required:after {
    content: "*";
    color: #ed5959;
    position: absolute;
    right: 10px;
    top: 12px; }
  #addform .required input, #addform .required textarea {
    padding-right: 20px; }

#addform input,
#addform textarea,
#addform select {
  display: block;
  margin: 0 0 10px 0;
  width: 100%; }

#addform input[type="submit"] {
  display: inline-block;
  width: auto; }

.block .b-name {
  color: #689f38;
  font-weight: normal; }

.block .b-cat {
  font-size: 15px; }

canvas {
  max-width: 100%; }
