<section id="albums">
    <div class="row">
        <div class="col-md-3">
            <div class="block" id="1">
                <div class="b-img">
                    <a href="javascript:void(0);" onclick="app.photoPage(this)"><img src="https://placekitten.com/300/200"></a>
                </div>
                <div class="b-name h2">a cat</div>
                <div class="b-cat additional"><i class="material-icons inline-block">folder</i> cats</div>
                <div class="b-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="block" id="2">
                <div class="b-img">
                    <a href="javascript:void(0);" onclick="app.photoPage(this)"><img src="https://placekitten.com/300/199"></a>
                </div>
                <div class="b-name h2">another cat</div>
                <div class="b-cat additional"><i class="material-icons inline-block">folder</i> cats</div>
                <div class="b-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="block" id="3">
                <div class="b-img">
                    <a href="javascript:void(0);" onclick="app.photoPage(this)"><img src="https://placekitten.com/300/201"></a>
                </div>
                <div class="b-name h2">funny cat</div>
                <div class="b-cat additional"><i class="material-icons inline-block">folder</i> cats</div>
                <div class="b-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="block" id="4">
                <div class="b-img">
                    <a href="javascript:void(0);" onclick="app.photoPage(this)"><img src="https://placekitten.com/300/202"></a>
                </div>
                <div class="b-name h2">very nice cat</div>
                <div class="b-cat additional"><i class="material-icons inline-block">folder</i> cats</div>
                <div class="b-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="margin30"><a class="button button2 padding20" href="javascript:void(0)" onclick="app.changeView('new');">Add new photo <i class="inline-block material-icons">navigate_next</i></a>
            </div>
        </div>
    </div>
</section>
