<section id="gallery">
    <div class="row">
        <div class="col-xs-12 col-md-3">
            <h3>Albums list:</h3>
            <div id="catlist2">
                <ul class="catlist">
                    <li>you don't have any albums yet</li>
                </ul>
            </div>
            <div class="margin30"><a class="button button2 padding20" href="javascript:void(0)" onclick="app.changeView('new');">Add new photo <i class="inline-block material-icons">navigate_next</i></a>
            </div>
        </div>
        <div class="col-xs-12 col-md-9" id="items">
            <div class="row"></div>
        </div>
    </div>
</section>
