<section id="home">
    <h2>Welcome</h2>
    <p class="greetings margin30">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
    <a class="button button2 padding20" href="javascript:void(0)" onclick="app.changeView('new');">Add new photo <i class="inline-block material-icons">navigate_next</i></a>
</section>
