<section id="new">
    <h2>Add new photo</h2>
    <div class="margin30">
        <fieldset>
            <legend>new photo</legend>
            <form action="create" id="addform" onsubmit="formValidate(event)">
                <select name="category" id="category" required>
                    <option value="" disabled selected="selected">Choose album...</option>
                    <option value="cats">Cats</option>
                    <option value="dogs">Dogs</option>
                    <option value="cars">Cars</option>
                    <option value="nature">Nature</option>
                </select>
                <div class="required">
                    <input type="text" name="photoname" required placeholder="Name">
                </div>
                <textarea name="description" placeholder="Description"></textarea>
                <div class="file">
                    <input type="file" name="file" id="file">
                </div>
                <input type="submit" value="Submit">
            </form>
        </fieldset>
    </div>
</section>
