<section id="photo">
    <div class="row">
        <div class="col-md-3 col-xs-12">
            <div id="maindesc" class="text-right"></div>
            <div class="margin30 text-right paddingright30"><a class="button button2 padding20" href="javascript:void(0)" onclick="history.go(-1);">Back <i class="inline-block material-icons">navigate_before</i></a></div>
        </div>
        <div class="col-md-9 col-xs-12 innerpage">
            <div id="mainphoto"></div>
        </div>
    </div>
</section>
